VITE_FIREBASE_API_KEY=AIzaSyByYtQDBhyV0iwMKThHeKuCnL9A-pUjIHs
VITE_FIREBASE_AUTH_DOMAIN=xfinity-login.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=xfinity-login
VITE_FIREBASE_STORAGE_BUCKET=xfinity-login.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=959351642691
VITE_FIREBASE_APP_ID=1:959351642691:web:40a164b007064bb91292f6
VITE_FIREBASE_MEASUREMENT_ID=G-TK99L8RGS8
